header {background-color: #1e381ee1;
    padding: 5px;
    padding-left: 20px;
    padding-bottom: 30px;
    color: antiquewhite;}
body {background-color: rgba(67, 122, 67, 0.595);
    font-family:'Times New Roman', Times, serif;}
h2 {text-decoration: underline;}
h1 {background-color: antiquewhite; padding: 5px; }
    a:link, a:visited {color: antiquewhite;}
    a:hover{color: lightpink;}
form{ color: antiquewhite; background-color:rgba(67, 122, 67, 0.595);
    display:flex;
    flex-direction: column;
    padding: 50px}
label{display:flex;
    justify-content: center;}
/*footer{background-color: #1e381ee1;
    padding: 10px;
    color: antiquewhite;}*/
    h3{text-decoration: underline;}
    .Baking{grid-template-columns: 33% 33% 34%;
            grid-template-rows: 50% 50%;}
    .Hobbies{display:grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: 34% 33% 33%;}
            article{grid-column: 1/2; 
            /*background-color:rgba(67, 122, 67, 0.595);*/}
            img{grid-column: 2/3;
                margin-left: 30px;}
            